.stepper-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    margin-top: -1%;
}

.stepper-container::before {
    content: '';
    position: absolute;
    top: 7.5%;
    left: 0%;
    right: 0%;
    height: 2px;
    justify-self: center;
    align-self: center;
    background-color: #632E04;
    z-index: 0;
    width: 84%;
}

.stepper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
    z-index: 1;
    /* background-color: blue; */
}

.stepper-item.active~.stepper-item::before {
    background-color: #632E04;
    /* Custom brown color */
}

.stepper-circle-container {
    position: relative;
}

.stepper-circle {
    width: 15px;
    height: 15px;
    background-color: #D9D9D9;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    z-index: 2;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

.stepper-item.active .stepper-circle {
    background-color: #632E04;
    border-color: #632E04;
}

.stepper-circle::after {
    content: '';
    position: absolute;
    top: -11px;
    left: -10.8px;
    width: 33px;
    height: 33px;
    border: 1px solid #632E04;
    border-radius: 50%;
    z-index: 1;
    transition: opacity 0.3s;
    opacity: 0;
}

.stepper-item.active .stepper-circle::after {
    opacity: 1;
}

.stepper-label {
    margin-top: 12px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #ccc;
    transition: color 0.3s;
    text-align: center;
}

.stepper-item.active .stepper-label {
    color: #2D2D2D;
}

/* .stepper-line {
    position: absolute;
    height: 2px;
    background-color: #ccc;
    z-index: 0;
    transition: background-color 0.3s;
} */

.stepper-line.completed {
    background-color: #632E04;
}

.stepper-item:not(:last-child) .stepper-line {
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
}

.main-logo {
    border: 3px solid #632E04;
    border-radius: 8px;
}

.client-image {
    background-image: url('../components/images/client-image.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.vector-bg {
    background-image: url('../components/images/vector-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.main-container {
    height: 100vh;
}

.step-render-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.step-render-container>div {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.next-button {
    background-color: #632E04;
    margin-top: 0%;
}

.step-render-2 {
    border: 3px solid rgba(99, 46, 4, 0.7);
    border-radius: 24px;
}

.client-bg-heading {

    font-family: 'Libre Baskerville', serif;
}